/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
 }
 

/* Remove underline from links in navbar */
header a {
    text-decoration: none;
    margin-left: 5px;
    
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 250%;
    margin: auto;
}

/* To show which page is currently active in the navbar */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navigation Bar */
nav ul {
    list-style-type: none;
    position: relative;
    letter-spacing: 4px;
    width: 100%;
    display: flex;
    
}

#hero img {
    width: 100%;   
    
}



main {
    flex: 1 0 auto;
}

/* Horse Riding types on the home page */
#types {
    margin-left: 1rem;
    padding-bottom: 10px;
}
#types li {
    list-style-type: disc;
    margin-left: 1rem;
    
}

/* Small images in Types section on Home Page */
#jumping img {
    height: 60px;
    width: 120px;
    position: absolute;
    left: 160px;
    bottom: 70px;
}

#country img {
    height: 60px;
    width: 120px;
    position: absolute;
    left: 160px;
    top: 700px;
}

#hacking img {
    height: 60px;
    width: 120px;
    position: absolute;
    left: 130px;
    top: 980px;
}

#dressage img {
    height: 60px;
    width: 120px;
    position: absolute;
    left: 130px;
    top: 1255px;
}

/* Gallery */
#gallery img {
    width: 100%;
    
}

/* Feedback Page */
.text-input {
    width: 20%;
}





#social-networks {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    bottom: 0;
    padding: 20px 0;
    height: 30px;
    text-align: center;
    

}

#social-networks i {
    font-size: 180%;
    padding: 5%;
    color: #4a4a4a;
}

/* Media Query for tablets and larger screens */
@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        
    }

    h1 {
        text-align: center;
        margin-left: 40px;
        font-size: 300%;
    }

    header {
        justify-content: space-between;
    }

    header a {
        margin-left: 1rem;
        font-size: 140%;
    }

    /* Gallery */
    #gallery {
        column-count: 2;
        column-gap: 0;
    }

    #gallery img {
        width: 100%;
    
    }
    
    
}

@media screen and (min-width: 992px) {
    header a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    h1 {
        font-size: 380%;
    }

    header a {
        font-size: 180%;
    }

    #types {
        text-align: center;
    }

    /* Align the paragraphs and images for the 4 Types 2 X 2 */
    #types-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 200px 50px 200px;
        justify-items: center;
    }

    #dressage {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    #dressage {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }



    /* Gallery */
    #gallery {
        column-count: 3;
        column-gap: 0;
    }

    .gallery-test {
        display: grid;
        grid-template-columns: repeat(3, auto [col-start]);
    }
}