/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
 }
 

/* Remove underline from links in navbar */
header a {
    text-decoration: none;       
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    margin: auto;
}

/* To show which page is currently active in the navbar */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navigation Burger Menu */
nav {
    background-color: #ffffff;
    position: absolute;
    display: none;
    margin-top: 38px;
    width: 100%;
    padding: 0 0.5rem;
    justify-content: space-between;

}
nav ul {
    list-style-type: none;
    margin-bottom: 1em;
    
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    margin-right: 1rem;
}

/* Hero Image */
#hero img {
    width: 100%;   
    
}

/* Main Section */
main {
    flex: 1 0 auto;
    background-color: rgba(232, 227, 220, 0.742);
}

#types-list {
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

/* Size images in Horse Riding types on the home page */
#jumping img, #country img, #hacking img, #dressage img {
    width: 80%;
    margin: 0 10%;  
}

#jumping p, #country p, #hacking p, #dressage p {
    margin: 0 5px;    
}

/* Gallery */
#gallery img {
    width: 100%;
    
}

/* Feedback Page */
#feedback-form {
    margin-bottom: 1rem;
    margin-top: 2px;
    padding: 1rem;
    max-width: 300px;
}

#feedback-form h2 {
    text-align: center;
}

.text-input {
    width: 100%;
    border: 1px solid rgb(140, 135, 135);
    border-radius: 2px;
    padding-top: 5px;
}

.radio-buttons {
    margin: 0.5rem;
    padding: 10px 0;
}

.feedback-button {
    margin-top: 20px;
    margin-left: 80px;
    padding: 10px 20px;
    font-size: 100%;    
}

#map {
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* Adjust size of map on Feedback Page on smaller screens */
iframe {
    max-width: 250px;
    max-height: 150px;
}

/* Footer */
#social-networks {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    bottom: 0;
    padding: 20px 0;
    height: 30px;
    text-align: center; 
}

#social-networks i {
    font-size: 180%;
    padding: 5%;
    color: #4a4a4a;
}

/* Response Page to Feedback Form */
#response img {
    width: 80%;
    margin: 0 10%;
}

#thank-you {
    background-color: rgba(232, 227, 240, 0.742);
    font-size: 14px;
    max-width: 200px;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 20px auto;
    padding: 5px;
}

/* Media Query for tablets and larger screens */
@media screen and (min-width: 768px) {
    /* Header */
    header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header a {
        margin-left: 1rem;
        font-size: 100%;
    }

    h1 {
    text-align: center;
    margin-left: 40px;
    font-size: 150%;
    }

    /* Navigation Bar */
    nav {
        display: block;
        margin-top: 0;
        position: relative;
        width: fit-content;
    }

    nav ul {
        list-style-type: none;
        letter-spacing: 4px;
        display: flex;                
    }

    .nav-toggle-label {
    display: none;
    }

    /* Make hero image smaller on larger screens to take up less real estate */
    #hero {
        width: 60%;
        margin: 0 20%;
    }

    /* Size images in Horse Riding types on the home page */
    #jumping img, #country img, #hacking img, #dressage img {
        width: 40%;
        margin: 0;
        padding-left: 5px;    
    }

    #jumping p, #country p, #hacking p, #dressage p {
        margin: 0 20px;
    } 

    /* Style the horse riding types section to display side by side. */
    #jumping, #country, #hacking, #dressage {
        display: flex;        
    }
      
    /* Gallery */
    #gallery {
        column-count: 2;
        column-gap: 5px;
    }

    #gallery img {
        width: 100%;
        margin: 0;
    }

    /* Hide last image in Gallery when displayed in two columns */
    #last-image {
        display: none;
    }

/* Feedback Form */
    #feedback-form {
        border: 1px solid rgb(102, 92, 92);
        margin: 10px auto;
    }

    .radio-buttons {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }

    .feedback-button {
        margin-top: 20px;
        margin-left: 80px;
        padding: 10px 20px;
        font-size: 100%;    
    }

    /* Adjust size of map on Feedback Page on smaller screens */
    iframe {
        max-width: 600px;
        max-height: 200px;
    }

    /* Thank you Page */
    #thank-you {
        max-width: 300px;
        font-size: 16px;
    }

    #response img {
        width: 60%;
        margin: 10px 20%;
    }  
}

@media screen and (min-width: 992px) {
    header a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    h1 {
        font-size: 220%;
    }

    header a {
        font-size: 120%;
    }

    #types {
        text-align: center;
    }

    /* Size images in Horse Riding types on the home page */
    #jumping img, #country img, #hacking img, #dressage img {
        width: 40%;
        margin: 0 10px;
    }

    #jumping p, #country p, #hacking p, #dressage p {
        margin: 0;
        width: 90%;
    } 

    /* Style the horse riding types section to display side by side. */
    #left-side {
        display: flex;
        width: 100%;
    }

    #right-side {
        display: flex;
        width: 100%;
    }

    /* To align the Hacking and Dressage images vertically */
    #hacking p {
        font-size: 15px;
    }   

    #types-info h2 {
        font-size: 40px;
    }

    #types-info h3 {
        font-size: 30px;
    }
 

    /* Gallery */
    #gallery {
        column-count: 3;
        column-gap: 5px;
    }

    /* Show last image in Gallery when display in three columns */
    #last-image {
        display: inline;
    }

    /* Adjust size of map on Feedback Page on smaller screens */
    iframe {
        max-width: 800px;
    }

    /* Thank you Page */
    #thank-you {
        max-width: 400px;
        font-size: 18px;
    }

    #response img {
        width: 60%;
        margin: 10px 20%;
    } 

}

@media screen and (min-width: 1200px) {
    /* Thank you Page */
    #thank-you {
        max-width: 600px;
        font-size: 20px;
    }
    
}

@media screen and (min-width: 1600px) {
    /* Size images in Horse Riding types on the home page */
    #jumping img, #country img, #hacking img, #dressage img {
        width: 60%;
    }
}