/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
 }
 

/* Remove underline from links in navbar */
header a {
    text-decoration: none;       
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    margin: auto;
}

/* To show which page is currently active in the navbar */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navigation Burger Menu */
nav {
    background-color: #ffffff;
    position: absolute;
    display: none;
    margin-top: 38px;
    width: 100%;
    padding: 0 0.5rem;
    justify-content: space-between;

}
nav ul {
    list-style-type: none;
    margin-bottom: 1em;
    
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    margin-right: 1rem;
}

/* Hero Image */
#hero img {
    width: 100%;   
    
}

/* Main Section */
main {
    flex: 1 0 auto;
    background-color: rgba(232, 227, 220, 0.742);
}

#types-list {
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

/* Size images in Horse Riding types on the home page */
#jumping img, #country img, #hacking img, #dressage img {
    width: 100%;
            
}

/* Gallery */
#gallery img {
    width: 100%;
    
}

/* Feedback Page */
#feedback-form {
    margin-bottom: 1rem;
    margin-top: 2px;
    padding: 1rem;
    max-width: 300px;

}

#feedback-form h2 {
    text-align: center;
}

.text-input {
    width: 100%;
    border: 1px solid white;
    border-radius: 2px;
    padding-top: 5px;
}

.radio-buttons {
    margin: 0.5rem;
    padding: 10px 0;
}

.feedback-button {
    margin-top: 20px;
    margin-left: 80px;
    padding: 10px 20px;
    font-size: 100%;
    
}


#social-networks {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    bottom: 0;
    padding: 20px 0;
    height: 30px;
    text-align: center;
    

}

#social-networks i {
    font-size: 180%;
    padding: 5%;
    color: #4a4a4a;
}

#response img {
    width: 80%;

}


#thank-you {
    background-color: rgb(46, 207, 31);
    font-size: 20px;
    max-width: 300px;
    border: 2px solid grey;
    border-radius: 5px;
}

/* Media Query for tablets and larger screens */
@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header a {
        margin-left: 1rem;
        font-size: 140%;
    }

    h1 {
    text-align: center;
    margin-left: 40px;
    font-size: 250%;
    }

    /* Navigation Bar */
    nav {
        display: block;
        margin-top: 0;
        position: relative;
        width: fit-content;
        /* background-color: rgba(55, 55, 243, 0.3); */
    }

    nav ul {
        list-style-type: none;
        letter-spacing: 4px;
        display: flex;
                
    }

    .nav-toggle-label {
    display: none;
    }

    /* Make hero image smaller on larger screens to take up less real estate */
    #hero {
        width: 80%;
        margin: 0 10%;
    }

    /* Size images in Horse Riding types on the home page */
    #jumping img, #country img, #hacking img, #dressage img {
        width: 30%;    
    }

    /* Style the horse riding types section to display side by side. */
    #types-info {
        display: flex;
        
    }

    #jumping, #country, #hacking, #dressage {
        display: flex;
        
    }

    #jumping p, img {
        margin: 0 20px;
    }

    #country p, img {
        margin: 0 20px;
    }

    #hacking p, img {
        margin: 0 20px;
    }

    #dressage p, img {
        margin: 0 20px;
    }
        

    /* Gallery */
    #gallery {
        column-count: 2;
        column-gap: 0;
    }

    #gallery img {
        width: 80%;
        margin-left: 10px;
        padding: 10px;
    
    }

    #thank-you {
        margin-left: 30%;
    }

    #last-image {
        display: none;
    }

    
    
    
}

@media screen and (min-width: 992px) {
    header a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    h1 {
        font-size: 380%;
    }

    header a {
        font-size: 180%;
    }

    #types {
        text-align: center;
    }

    #jumping-image img,
    #country-image img,
    #hacking-image img,
    #dressage-image img {
        width: 80%;
    
    }

  

    #country-image img {
        margin-bottom: 140px;
    }

    #dressage-image {
        height: 85%;
    }

    #jumping-par,
    #country-par,
    #hacking-par,
    #dressage-par {
        font-size: 18px;
    }

    #types-info h2 {
        font-size: 40px;
    }

    #types-info h3 {
        font-size: 30px;
    }
 

    /* Gallery */
    #gallery {
        column-count: 3;
        column-gap: 0;
    }

    #last-image {
        display: inline;
    }

    /* Feedback Page */
    .text-input {
        width: 30%;
    }

}